.main {
  display: grid;
  grid-template-columns: repeat(9, 11.11vw);
  grid-template-rows: repeat(5, 20vh);

}

.home {
  background-color: #181c24;
  grid-column-start: 3 ;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid white;
}

/*Left part*/

.leftcontent {
  background-color: #181c24;
  grid-column-start: 1 ;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 10;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: left;
}

.logo {
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  height: 5px;
  width: 5px;
}

.logout {
  background-color: #181c24;
  color: white;
  border-radius: 50px;
  padding: 5px 5px 5px 5px;
  margin-top: 650px;
  margin-left: 25px;
  width: 100px;
}

.infouser {
  display:flex;
  color: white;
  margin-bottom:30px;
}
/*Top part*/

.title {
  color: white;
  font-size: 20px;
  display: flex;
}

.whatsup {
  background-color: #181c24;
  display:flex;
  margin-left: 350px;
  width: 200px;
}

.tweet {
  background-color: #368ee9;
  color: white;
  margin-left: 600px;
  margin-top: 50px;
  border-radius: 50px;
  width: 100px
}

/*Right part*/

.trends {
  background-color: #181c24;  
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 10;
  border: 1px solid white;
}

.titretrend {
  color: white;
  font-size: 20px;
  display: flex-start;
}

.contentTrends {
  color:white;
}

/*Bottom content*/

.tweets {
  background-color: #181c24;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 10;
  border: 1px solid white;
}











